body{
  background-color: ;
/* }
input[type="number"]{
background-color: yellow;
color: red;
border-radius: 10px;
padding-left: 20px;
}

input[checked]{
outline: 2px solid red;

}
input[disabled]{
background-color: green;
border-radius: 5px;
} */

 a:hover{
  color: red;
  text-transform: uppercase;
 }

 p::before{
  content:"🚀"
 }

 p::after{
  content:"!🔥";
  color: red;
 }
 
input::placeholder{
  color:green;
  font-style: italic;
}
input{
  color:brown;
}
