/* body{
  background-color: ; */
/* }
input[type="number"]{
background-color: yellow;
color: red;
border-radius: 10px;
padding-left: 20px;
}

input[checked]{
outline: 2px solid red;

}
input[disabled]{
background-color: green;
border-radius: 5px;
} */

 /* a:hover{
  color: red;
  text-transform: uppercase;
 }

 p::before{
  content:"🚀"
 }

 p::after{
  content:"!🔥";
  color: red;
 }
 
input::placeholder{
  color:green;
  font-style: italic;
}
input{
  color:brown;
} */
.inlineBlock {
  display:inline-block;
  border: 3px solid green;
  background-color: lightgreen;
  width: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
}
 
.block {
  border: 3px solid red;
  background-color: lightcoral;
  width: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
}  
 .none {
  display: none;
  border: 3px solid blue;
  background-color: lightskyblue;
  width: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
 }

 .inline{
  display:inline;
  border: 3px solid purple;
  background-color: lightpink;
  width: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
}
 
.flex {
  display:flex;
  border: 3px solid blue;
  background-color:lightsalmon;
  width: 100px;
  color: white;
  padding: 10px;
  margin: 10px;
  justify-content:center;
  align-items: center;
}
 
.inlineFlex {
  display:inline-flex;
  box-sizing: border-box;
  border: 3px solid purple;
  background-color:lightgoldenrodyellow;
  width: 200px;
  height: 100px;
  color: black;
  padding: 10px;
  margin: 10px;
  justify-content:center;
  align-items: center;
}
 

 
 


