@use "variables"; as *;
@use "mixins"; as *;

.swiper {
    width: 100%;
    margin: $swiper-margin;

    &-wrapper {
        height: 200px;
        border-radius: $swiper-radius;
    }

    &-slide {
        @include swiper-slide-styles;
    }

    &-button-prev, &-button-next {
        color: red;
    }
}
